* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    text-decoration: none;
    overflow: auto;
    padding-bottom: 4rem;
}

.title {
    font-family: var(--header-font);
    font-size: 2rem;
    color: var(--pink);
    margin: 1rem;
    font-weight: 300;
}