* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cart-button {
    background-color: #37AEAB;
    color: white;
    padding: 1rem 2rem;
    width: 70vw;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.cart-button:active {
    background-color: #298784;
}