* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.priceAndCounter-container {
    border: 2px solid var(--pink);
    margin: 1rem 0.5rem;
    width: 60vw;
    border-radius: 3px;
}

.price-container {
    border-bottom: 2px solid var(--pink);
    padding: 2rem;

}

.counter-container {
    display: flex;
    justify-content: center;
}

.counter-btn,
.event-balance {
    background-color: var(--purple);
    font-size: 1.5rem;
    color: white;
    border-style: none;
    padding: 1rem 0;
}

.event-balance {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    flex: 1;
}

.counter-btn {
    cursor: pointer;
    flex: 2;
}