* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tickets {
    background: linear-gradient(180deg, var(--pink) 0%, rgba(105, 49, 123, 1) 30%, var(--purple)50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    text-decoration: none;
    overflow: auto;
    padding-bottom: 4rem;
}

.tickets__list {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: #ffffff;
    margin: 2rem;
    border-radius: 5px;
    overflow: auto;
}

.ticket__label {
    font-family: 'fira sans', sans-serif;
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.ticket__info--what {
    background-color: #ffffff;
    font-family: var(--header-font);
    color: var(--pink);
    font-size: 1.5em;
    padding: 1rem;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.ticket__info--where {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
    font-family: 'fira sans', sans-serif;
    padding: 1rem;
}

.ticket__info--date {
    background-color: rgba(0, 0, 0, 0.06);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
    font-family: 'fira sans', sans-serif;
    display: flex;
}

.ticket__info {
    background-color: rgba(0, 0, 0, 0.09);
    font-family: 'fira sans', sans-serif;
    padding: 1rem;
}

.ticket__detail--bold {
    font-weight: 700;
}

.ticket__detail--border {
    border-left: 1px dotted rgba(0, 0, 0, 0.4);
    border-right: 1px dotted rgba(0, 0, 0, 0.4);
    padding: 1rem;
    flex: 1;
}

.ticket__detail--padding {
    padding: 1rem;
    flex: 1;
}

.ticket__detail--sectionAndSeat {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

.ticket__barcode {
    background-color: rgba(0, 0, 0, 0.12);
    font-family: 'libre barcode 128';
    font-size: 101px;
    text-align: center;
    padding-top: 2rem;
}

.ticket__id {
    background-color: rgba(0, 0, 0, 0.12);
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'fira sans', sans-serif;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 5px;
}