* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.event-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 1rem;
    margin: 1rem;
    color: white;
    max-height: 70vh;
    overflow-y: auto;
    text-decoration: none;
}

.event-date {
    margin: 0.5rem;
    padding: 5px;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: 'fira sans';
    font-size: 14px; */
    border-style: solid;
}

.event-info {
    grid-row: span 2;
}

.event-price {
    align-self: flex-end;
    padding-bottom: 15px;
}