@font-face {
    font-family: 'Sansita One';
    src: url('./assets/sansita-one/SansitaOne.ttf') format('truetype');
}

:root {
    --purple: #231F42;
    --pink: #F56B9A;
    --blue: #37AEAB;
    --header-font: 'Sansita One', sans-serif;
}