@font-face {
    font-family: 'Sansita One';
    src: url('./assets/sansita-one/SansitaOne.ttf') format('truetype');
}

:root {
    --purple: #231F42;
    --pink: #F56B9A;
    --blue: #37AEAB;
    --header-font: 'Sansita One', sans-serif;
}

.fade-enter {
    opacity: 0;
    transform: scale(0.9);
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 200ms, transform 200ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
}