.frontPage {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    text-decoration: none;
}

.logo {
    height: 10rem;
}

.frontPage-header {
    font-family: var(--header-font);
    font-size: 2rem;
    color: var(--pink);
    margin: 1rem;
    font-weight: 300;
}

.frontPage-text {
    color: #FFFF;
    font-family: 'fira sans', sans-serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 300;
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
}