* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: var(--pink);
    color: #FFFF;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-align: center;
    flex: 1;
    text-decoration: none;
    color: #FFFF;
    font-family: 'Fira Sans', sans-serif;
    padding: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #ba5073;
    font-weight: 700;
}

.nav-item:active {
    background-color: #ba5073;
    font-weight: 700;
}